In [49]:
a=[1, 2, 3, 4, 5]
del a[2:]  # del = 객체(삭제)
a

[1, 2]

In [50]:
# 리스트에 요소 추가하기 - append
a=[1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [51]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [52]:
del a[4]

In [53]:
a

[1, 2, 3, 4]

In [54]:
a=[1, 2, 3, 3, 4]
a

[1, 2, 3, 3, 4]

In [55]:
a=[1, 4, 3, 2]
a.sort()          #sort=리스트 정렬
a

[1, 2, 3, 4]

In [56]:
a=['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [57]:
a=['cb', 'ad', 'da']
a.sort()
a

['ad', 'cb', 'da']

In [58]:
# 리스트 뒤집기 - reverse
a=['a', 'c', 'b']
a. reverse()     
a

['b', 'c', 'a']

In [59]:
# 리스트 뒤집기 - reverse
a=['cb', 'ad', 'da']
a.reverse()
a

['da', 'ad', 'cb']

In [60]:
a=[1, 2, 3]       # index는 숫자 0은 가진 것이 없기 때문에 error가뜸
print(a.index(3))
print(a.index(1))

2
0

In [61]:
# 리스트에 요소 삽입 - insert
a= [1, 2, 3]
# insert(인수1, 인수2) -> 인수1: index번호 인수2: 값
a.insert(0, 4)    # 0번째 index에 4값을 넣음
a

[4, 1, 2, 3]

In [62]:
a.insert(3, 5)  # 3번째 index에 5값을 넣음

In [63]:
a

[4, 1, 2, 5, 3]

In [64]:
# 리스트 요소 제거 - remove
a=[1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [65]:
a.remove(3)

In [66]:
a

[1, 2, 1, 2]

In [67]:
a=[1, 2, 3, 1, 2, 3]
a.remove(4)      # 리스트에 4가 없어서 error
a

ValueError: list.remove(x): x not in list

In [ ]:
# 리스트 요 소 끄집어 내기 - pop
a=[1, 2, 3]
a.pop()

3

In [ ]:
a

[1, 2]

In [ ]:
# 리스트에 포함된 요소 x의 개수 세기 - count
a=[1, 2, 3, 1]
a.count(1)

2

In [ ]:
a.count(2)

1

In [ ]:
#리스트 확장 - extend
a=[1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [ ]:
b=[6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
a.extend([4,5])    #[1, 2, 3, 4, 5, 6, 7, 4, 5] -> a += [4, 5]
# a += [4, 5]는 a = a + [4, 5]

In [ ]:
# 문제2
# "아이언맨", "헐크", "스파이더맨" 3명의 학생으로 구성된 std_list를 만들고 한명씩 출력하세요.
# 문제3
# 두 명의 학생이 전학을 왔습니다. 첫 번째는 "타노스", 두 번째는 "앤트맨"입니다.
# std_list 뒤에 두 명을 추가하고 std_list를 출력하세요.
# 문제4
# "타노스가" "다노스"로 개명을 했어요. std_list에서 값을 변경하여 std_list를 출력하세요.
# 문제5
# 반장 선거를 해서 2번 위치에 있는 학생이 당선이 되었네요. 누구인지 출력하세요.
# 문제6
# 2번~4번 위치에 있는 학생 3명이 오늘 청소 당번이에요. 청소 당번 학생들을 출력해 주세요.
# 문제7
# "헐크" 학생이 전학을 갔어요. std_list에서 헐크 학생을 삭제하고 std_list를 출력하세요.
# 문제8
# 학생들을 ㄱㄴㄷ 순으로 위치를 바꾸려고 합니다. std_list를 정렬하여 출력하세요.
# 문제9
# 학생들을 ㄷㄴㄱ 순으로 위치를 바꾸려고 합니다. std_list를 정렬하여 출력하세요.

SyntaxError: invalid syntax (870089870.py, line 2)

In [ ]:
std_list = ["아이언맨", "헐크", "스파이더맨"]
std_list

['아이언맨', '헐크', '스파이더맨']

In [ ]:
std_list = ["아이언맨", "헐크", "스파이더맨"]
std_list.extend(["타노스", "앤트맨"])
std_list

['아이언맨', '헐크', '스파이더맨', '타노스', '앤트맨']

In [ ]:
std_list[3]="다노스"
std_list

['아이언맨', '헐크', '스파이더맨', '다노스', '앤트맨']

In [ ]:
std_list[1]

'헐크'

In [ ]:
std_list[1:4]  #인덱스 위치가 1 ~ 3

['헐크', '스파이더맨']

In [68]:
std_list.remove('헐크')
std_list

['아이언맨', '스파이더맨']

In [ ]:
std_list.sort()
std_list

['다노스', '스파이더맨', '아이언맨', '앤트맨']

In [ ]:
std_list.reverse()
std_list

['앤트맨', '아이언맨', '스파이더맨', '다노스']